@import '../styles/functions.scss';

@property --button-gradient-start {
  syntax: '<color>';
  initial-value: #9fd9e3;
  inherits: false;
}

@property --button-gradient-end {
  syntax: '<color>';
  initial-value: #a0c4dd;
  inherits: false;
}

.loginForm {
  background: linear-gradient(161.43deg,
      #f4fafb 6.22%,
      var(--background) 93.78%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 5rem 2rem 6rem;
  max-width: 100%;
  width: 100%;

  @media (min-width: 530px) {
    border-radius: 2rem;
    box-shadow: getShadow(0px, 3px, 8px, 0px, 0.02), getShadow(0px, 4px, 20px, 0px, 0.03), getShadow(0px, 4px, 40px, 0px, 0.04);
    display: block;
    height: unset;
    padding: 5rem 3rem 6rem;
    width: 450px;
  }

  @media (prefers-color-scheme: dark) {
    background: #1c2628;
    background: linear-gradient(161.43deg,
        #1c2628 6.22%,
        var(--background) 93.78%);
    box-shadow: getShadow(0px, 3px, 8px, 0px, 0.12), getShadow(0px, 4px, 20px, 0px, 0.13), getShadow(0px, 4px, 40px, 0px, 0.14);

  }

  h1,
  p {
    text-align: center;
    font-weight: inherit;
  }

  h1 {
    font-size: 2.25rem;
    letter-spacing: -0.05ch;
    margin-bottom: 0.25rem;
  }

  a {
    position: relative;

    &::after {
      background: var(--foreground);
      bottom: -2px;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 0;
      transition: width 0.35s ease-in-out;
    }

    &:hover::after,
    &:focus::after {
      width: 98%;
    }

    &:focus {
      outline: none;
    }
  }

  form {
    margin-top: 3rem;
  }
}

.inputPassword,
.inputEmail,
.submitButton {
  width: 100%;
}

.inputPassword,
.inputEmail {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.inputEmail {
  margin-bottom: 1.25rem;
}

.checkbox,
.forgotPasswordLink {
  font-size: 0.85rem;
}

.checkbox,
.submitButton {
  cursor: pointer;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 0.38rem;
  margin-left: 0.25rem;

  input {
    margin-top: -0.15rem;
  }
}

.forgotPasswordLink {
  float: right;
  margin-right: 0.25rem;
}

.submitButton {
  background: linear-gradient(91.43deg,
      var(--button-gradient-start) 6.22%,
      var(--button-gradient-end) 93.78%);
  color: var(--foreground);
  font-weight: 700;
  margin: 3rem auto 1.25rem;
  outline: none;
  transition: --button-gradient-start 0.25s ease 0.1s,
    --button-gradient-end 0.25s ease, drop-shadow 0.25s ease, color 0.25s ease;

  &:focus,
  &:hover {
    --button-gradient-start: #05aac7;
    --button-gradient-end: #536992;

    color: white;
    box-shadow: getShadow(0px, 5px, 6px, 1px, 0.04), getShadow(0px, 3px, 10px, -5px, 0.13);
  }

  @media (prefers-color-scheme: dark) {
    --button-gradient-start: #8ac9d4;
    --button-gradient-end: #81a3bc;

    color: var(--background);

    &:focus,
    &:hover {
      box-shadow: getShadow(0px, 3px, 8px, 0px, 0.12), getShadow(0px, 4px, 20px, 0px, 0.13), getShadow(0px, 4px, 0px, 40px, 0.13);
    }

    &:focus {
      outline: 1px solid var(--foreground);
    }
  }
}

.signup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;

  span {
    font-weight: 700;
  }
}

.errorMessage {
  color: #e80000;
}